<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Primer empleo</h1> - 
            <h3>(years)</h3></li>
            <p> lorem ipsum dolor sit amet, consectet</p>
        </ul>
        <ul>
            <li><h1>Segundo empleo</h1> - 
            <h3>(years)</h3></li>
            <p> lorem ipsum dolor sit amet, consectet</p>
        </ul>
        <ul>
            <li><h1>Tercer empleo</h1> - 
            <h3>(years)</h3></li>
            <p> lorem ipsum dolor sit amet, consectet</p>
        </ul>
    </div>
</div>